<a href="https://colab.research.google.com/github/z-guard/analysis/blob/main/notebooks/nearby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 付近の検索
- [Nearby Search](https://developers.google.com/maps/documentation/places/web-service/search-nearby)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
DIR_NAME = '/content/drive/MyDrive/z-gard/data'

In [3]:
import os
import requests
import json
import pandas as pd
from urllib.parse import urlparse, quote
import io
import numpy as np

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)

In [4]:
df_search_base = pd.read_csv(os.path.join(DIR_NAME, 'nearby_search_base.csv'))
print(df_search_base.shape)

(562, 3)

In [7]:
df_search_base.head()

   map_index        lat         lon
0         11  35.545637  139.705515
1         12  35.545637  139.717561
2         13  35.545637  139.729607
3         14  35.545637  139.741652
4         18  35.545637  139.789835

In [5]:
YOUR_API_KEY = 'AIzaSyDbyTP873QCjlAnLtsz9vw42_Fc9iNaz9Q'

### type
- convenience_store
- supermarket
- shopping_mall
- train_station
- park
- gym
- spa

#### rankby
- prominence ... 重要性に基づいて結果をソート。radiusは必須
- distance ... 距離で検索結果を昇順にソート。radiusは不可

In [8]:
def get_place_nearby(unique_no, lat, lng, place_type, rankby='distance'):
    radius = '' if rankby == 'distance' else '&radius=1000'
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat}%2C{lng}&type={place_type}&rankby={rankby}{radius}&language=ja&key={YOUR_API_KEY}"
    response = requests.get(url)
    if response.status_code == requests.codes.ok:
        res_json = response.json()
        if res_json['status'] == 'OK':
            _df = pd.DataFrame(res_json['results'])
            _df['no'] = unique_no
            return _df
        else:
            print(f"{unique_no}, status={res_json['status']}")
    else:
        print(f'{unique_no}, status_code={response.status_code}')
    
    return pd.DataFrame([{'no': unique_no}])

In [9]:
def get_loc_lat(x):
    try:
        return x['location']['lat']
    except:
        return np.NaN

def get_loc_lng(x):
    try:
        return x['location']['lng']
    except:
        return np.NaN  

# 付近を探す(近さ優先)
def get_nearby_place(place_type, df_master):
    rankby = 'distance'
    df_result = pd.DataFrame()
    for index, row in df_master.iterrows():
        if not np.isnan(row['lat']):
            _tmp = get_place_nearby(row['map_index'], row['lat'], row['lon'], place_type, rankby)
            df_result = pd.concat([df_result, _tmp])
    return df_result.reset_index(drop=True)

# 重複削除
def drop_duplicates_nearby_results(df_result, subset='place_id'):
    _tmp = df_result.drop_duplicates(subset=subset).reset_index(drop=True)
    _tmp['lat'] = _tmp['geometry'].apply(get_loc_lat)
    _tmp['lng'] = _tmp['geometry'].apply(get_loc_lng)
    return _tmp[_tmp['business_status'] == 'OPERATIONAL']\
        [['name', 'lat', 'lng', 'rating', 'types', 'vicinity', 'place_id', 'no']].reset_index(drop=True)

## コンビニエンスストア

In [ ]:
place_type = 'convenience_store'
df_conveni_result = get_nearby_place(place_type, df_search_base)
print(df_conveni_result.shape)

(62360, 19)

In [ ]:
df_conveni_result_2 = drop_duplicates_nearby_results(df_conveni_result)
print(df_conveni_result_2.shape)

df_conveni_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'.csv'), index=False)

(6405, 8)

## スーパーマーケット

In [ ]:
place_type = 'supermarket'
df_super_result = get_nearby_place(place_type, df_search_base)
print(df_super_result.shape)

(51335, 19)

In [ ]:
df_super_result_2 = drop_duplicates_nearby_results(df_super_result)
print(df_super_result_2.shape)

df_super_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'.csv'), index=False)

(2060, 8)

## 最寄り駅

In [ ]:
place_type = 'train_station'
df_station = get_nearby_place(place_type, df_search_base)
print(df_station.shape)

(62820, 18)

In [ ]:
# no(地域ID)ごとに一番近い駅だけを抽出
df_station_2 = drop_duplicates_nearby_results(df_station, 'no')
print(df_station_2.shape)

df_station_2.to_csv(os.path.join(DIR_NAME, place_type+'.csv'), index=False)

(3141, 8)

## 公園

In [ ]:
place_type = 'park'
df_park_result = get_nearby_place(place_type, df_search_base)
print(df_park_result.shape)

(62820, 19)

In [ ]:
df_park_result_2 = drop_duplicates_nearby_results(df_park_result)
print(df_park_result_2.shape)

df_park_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False)

(9176, 8)

## 体育館

In [ ]:
place_type = 'gym'
df_gym_result = get_nearby_place(place_type, df_search_base)
print(df_gym_result.shape)

111092, status=ZERO_RESULTS
111093, status=ZERO_RESULTS
111098, status=ZERO_RESULTS
111099, status=ZERO_RESULTS
111100, status=ZERO_RESULTS
111102, status=ZERO_RESULTS
111108, status=ZERO_RESULTS
(59529, 19)

In [ ]:
df_gym_result_2 = drop_duplicates_nearby_results(df_gym_result)
print(df_gym_result_2.shape)

df_gym_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False)

(5737, 8)

## 薬局

In [ ]:
place_type = 'pharmacy'
df_pharmacy_result = get_nearby_place(place_type, df_search_base)
print(df_pharmacy_result.shape)

108186, status=ZERO_RESULTS
(62362, 18)

In [ ]:
df_pharmacy_result_2 = drop_duplicates_nearby_results(df_pharmacy_result)
print(df_pharmacy_result_2.shape)

df_pharmacy_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False)

(5980, 8)

## レストラン

In [10]:
place_type = 'restaurant'
df_restaurant_result = get_nearby_place(place_type, df_search_base)
print(df_restaurant_result.shape)

(11240, 19)

In [23]:
df_restaurant_result_2 = drop_duplicates_nearby_results(df_restaurant_result)
print(df_restaurant_result_2.shape)

df_restaurant_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False, encoding='utf-8_sig')

(10366, 8)

## カフェ

In [24]:
place_type = 'cafe'
df_cafe_result = get_nearby_place(place_type, df_search_base)
print(df_cafe_result.shape)

667.0, status_code=500
(11092, 19)

In [26]:
df_cafe_result_2 = drop_duplicates_nearby_results(df_cafe_result)
print(df_cafe_result_2.shape)

df_cafe_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False, encoding='utf-8_sig')

(6575, 8)

## ナイトクラブ & バー

In [28]:
place_type = 'bar'
df_bar_result = get_nearby_place(place_type, df_search_base)
print(df_bar_result.shape)

(10949, 19)

In [44]:
place_type = 'night_club'
df_night_club_result = get_nearby_place(place_type, df_search_base)
print(df_night_club_result.shape)

247.0, status=ZERO_RESULTS
352.0, status=ZERO_RESULTS
(9277, 19)

In [51]:
df_night_club_bar = pd.concat([
    df_bar_result,
    df_night_club_result
])
df_night_club_bar_2 = drop_duplicates_nearby_results(df_night_club_bar)
print(df_night_club_bar_2.shape)

df_night_club_bar_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, 'nightclub_bar_nearby.csv'), index=False, encoding='utf-8_sig')

(8690, 8)

## ビューティーサロン

In [31]:
place_type = 'beauty_salon'
df_beauty_salon_result = get_nearby_place(place_type, df_search_base)
print(df_beauty_salon_result.shape)

106.0, status=ZERO_RESULTS
136.0, status=ZERO_RESULTS
(10933, 19)

In [40]:
place_type = 'beauty_salon'
df_beauty_salon_result_2 = drop_duplicates_nearby_results(df_beauty_salon_result)
print(df_beauty_salon_result_2.shape)

df_beauty_salon_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False, encoding='utf-8_sig')

(6358, 8)

## ヘアケア

In [32]:
place_type = 'hair_care'
df_hair_care_result = get_nearby_place(place_type, df_search_base)
print(df_hair_care_result.shape)

(11171, 19)

In [41]:
place_type = 'hair_care'
df_hair_care_result_2 = drop_duplicates_nearby_results(df_hair_care_result)
print(df_hair_care_result_2.shape)

df_hair_care_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False, encoding='utf-8_sig')

(9095, 8)

## clothing_store

In [42]:
place_type = 'clothing_store'
df_clothing_store_result = get_nearby_place(place_type, df_search_base)
print(df_clothing_store_result.shape)

106.0, status=ZERO_RESULTS
(11068, 19)

In [43]:
df_clothing_store_result_2 = drop_duplicates_nearby_results(df_clothing_store_result)
print(df_clothing_store_result_2.shape)

df_clothing_store_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False, encoding='utf-8_sig')

(6153, 8)

## home_goods_store
- 音楽教室も含む

In [46]:
place_type = 'home_goods_store'
df_home_goods_store_result = get_nearby_place(place_type, df_search_base)
print(df_home_goods_store_result.shape)

503.0, status_code=500
(11192, 19)

In [47]:
df_home_goods_store_result_2 = drop_duplicates_nearby_results(df_home_goods_store_result)
print(df_home_goods_store_result_2.shape)

df_home_goods_store_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False, encoding='utf-8_sig')

(7587, 8)

## book_store & movie_rental

In [52]:
place_type = 'book_store'
df_book_store_result = get_nearby_place(place_type, df_search_base)
print(df_book_store_result.shape)

136.0, status=ZERO_RESULTS
346.0, status=ZERO_RESULTS
676.0, status=ZERO_RESULTS
(6681, 19)

In [56]:
place_type = 'movie_rental'
df_movie_rental_result = get_nearby_place(place_type, df_search_base)
print(df_movie_rental_result.shape)

70.0, status=ZERO_RESULTS
102.0, status=ZERO_RESULTS
106.0, status=ZERO_RESULTS
130.0, status=ZERO_RESULTS
131.0, status=ZERO_RESULTS
136.0, status=ZERO_RESULTS
138.0, status=ZERO_RESULTS
160.0, status=ZERO_RESULTS
165.0, status=ZERO_RESULTS
190.0, status=ZERO_RESULTS
193.0, status=ZERO_RESULTS
196.0, status=ZERO_RESULTS
220.0, status=ZERO_RESULTS
247.0, status=ZERO_RESULTS
248.0, status=ZERO_RESULTS
313.0, status=ZERO_RESULTS
337.0, status=ZERO_RESULTS
369.0, status=ZERO_RESULTS
372.0, status=ZERO_RESULTS
394.0, status=ZERO_RESULTS
395.0, status=ZERO_RESULTS
403.0, status=ZERO_RESULTS
404.0, status=ZERO_RESULTS
408.0, status=ZERO_RESULTS
426.0, status=ZERO_RESULTS
428.0, status=ZERO_RESULTS
433.0, status=ZERO_RESULTS
434.0, status=ZERO_RESULTS
437.0, status=ZERO_RESULTS
438.0, status=ZERO_RESULTS
457.0, status=ZERO_RESULTS
458.0, status=ZERO_RESULTS
464.0, status=ZERO_RESULTS
465.0, status=ZERO_RESULTS
489.0, status=ZERO_RESULTS
493.0, status=ZERO_RESULTS
522.0, status=ZERO_RESULTS
523.0, status=ZERO_RESULTS
545.0, status=ZERO_RESULTS
547.0, status=ZERO_RESULTS
550.0, status=ZERO_RESULTS
552.0, status=ZERO_RESULTS
555.0, status=ZERO_RESULTS
556.0, status=ZERO_RESULTS
562.0, status=ZERO_RESULTS
578.0, status=ZERO_RESULTS
579.0, status=ZERO_RESULTS
589.0, status=ZERO_RESULTS
592.0, status=ZERO_RESULTS
593.0, status=ZERO_RESULTS
605.0, status=ZERO_RESULTS
608.0, status=ZERO_RESULTS
615.0, status=ZERO_RESULTS
617.0, status=ZERO_RESULTS
618.0, status=ZERO_RESULTS
619.0, status=ZERO_RESULTS
620.0, status=ZERO_RESULTS
621.0, status=ZERO_RESULTS
626.0, status=ZERO_RESULTS
636.0, status=ZERO_RESULTS
637.0, status=ZERO_RESULTS
638.0, status=ZERO_RESULTS
644.0, status=ZERO_RESULTS
645.0, status=ZERO_RESULTS
649.0, status=ZERO_RESULTS
656.0, status=ZERO_RESULTS
657.0, status=ZERO_RESULTS
668.0, status=ZERO_RESULTS
676.0, status=ZERO_RESULTS
679.0, status=ZERO_RESULTS
683.0, status=ZERO_RESULTS
703.0, status=ZERO_RESULTS
707.0, status=ZERO_RESULTS
708.0, status=ZERO_RESULTS
709.0, status=ZERO_RESULTS
739.0, status=ZERO_RESULTS
797.0, status=ZERO_RESULTS
804.0, status=ZERO_RESULTS
805.0, status=ZERO_RESULTS
856.0, status=ZERO_RESULTS
886.0, status=ZERO_RESULTS
(1788, 19)

In [58]:
df_book_movie_rental = pd.concat([
    df_book_store_result,
    df_movie_rental_result
])
df_book_movie_rental_2 = drop_duplicates_nearby_results(df_book_movie_rental)
print(df_book_movie_rental_2.shape)

df_book_movie_rental_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, 'book_movie_rental_nearby.csv'), index=False, encoding='utf-8_sig')

(1634, 8)

## school

In [54]:
place_type = 'school'
df_school_result = get_nearby_place(place_type, df_search_base)
print(df_school_result.shape)

(11201, 19)

In [55]:
df_school_result_2 = drop_duplicates_nearby_results(df_school_result)
print(df_school_result_2.shape)

df_school_result_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, place_type+'_nearby.csv'), index=False, encoding='utf-8_sig')

(9507, 8)

## 観光名所 & 寺社

In [59]:
place_type = 'tourist_attraction'
df_tourist_result = get_nearby_place(place_type, df_search_base)
print(df_tourist_result.shape)

(11029, 19)

In [61]:
place_type = 'place_of_worship'
df_worship_result = get_nearby_place(place_type, df_search_base)
print(df_worship_result.shape)

(11240, 19)

In [62]:
df_tourist_worship = pd.concat([
    df_tourist_result,
    df_worship_result
])
df_tourist_worship_2 = drop_duplicates_nearby_results(df_tourist_worship)
print(df_tourist_worship_2.shape)

df_tourist_worship_2.drop(columns=['no']).to_csv(os.path.join(DIR_NAME, 'tourist_worship_nearby.csv'), index=False, encoding='utf-8_sig')

(14983, 8)