<a href="https://colab.research.google.com/github/z-guard/analysis/blob/main/notebooks/private_school_master.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 私立学校・塾・教室
- 幼稚園
- 小学校
- 中学校

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)

In [3]:
DIR_NAME = '/content/drive/MyDrive/z-gard/data'

In [4]:
df_school_org = pd.read_csv(os.path.join(DIR_NAME, 'school_nearby.csv'))
print(df_school_org.shape)

(9507, 7)

In [5]:
df_school_org['types_list'] = df_school_org['types'].apply(lambda x: x.replace('"', '').replace('[', '').replace(']', '').replace("'", '').replace(' ', '').split(','))
types_list = df_school_org['types_list'].explode()

In [6]:
types_list.value_counts().head(15)

point_of_interest     9507
establishment         9507
school                9507
primary_school         738
store                  386
electronics_store      346
home_goods_store       345
secondary_school       118
health                  90
university              76
gym                     44
food                    31
real_estate_agency      26
cafe                    20
restaurant               9
Name: types_list, dtype: int64

In [7]:
school_types = ['幼稚園', '保育園', '小学校', '中学校', '高等学校', '大学', '専門学校', '学童保育', '幼児教室', '学習塾', '音楽教室', '英語教室', 'プログラミング', 'ダンス', '囲碁将棋']

In [8]:
for t in school_types:
    df_school_org[t] = 0
    df_school_org.loc[df_school_org['name'].str.endswith(t), t] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [9]:
for t in school_types:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), t] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [10]:
for t in ['高校', '高等部']:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), '高等学校'] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [11]:
for t in ['保育', 'こども園', 'ほいくえん', '幼保園', '子ども園']:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), '保育園'] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [12]:
for t in ['幼児園', '幼児舎', 'ようちえん']:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), '幼稚園'] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [13]:
for t in ['学童', '放課後ひろば']:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), '学童保育'] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [14]:
for t in ['キッズ', 'チャイルド', '幼児教育', '知育']:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), '幼児教室'] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [15]:
for t in ['ピアノ', '音楽', 'ギター', 'ヴァイオリン', 'ボーカル', 'ミュージック', 'Piano']:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), '音楽教室'] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [16]:
for t in ['囲碁', '将棋']:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), '囲碁将棋'] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [17]:
for t in ['英語', '英会話', 'イングリッシュ', '外国語', 'English', 'ENGLISH', 'ECC']:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), '英語教室'] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [18]:
for t in ['塾', '学習', '個別', '指導', '進学', '公文', 'スクール', 'ゼミ', 'アカデミー', '学研', 'トライ', '教室',
          'セミナー', '日能研', '予備校', '四谷大塚', 'サピックス', 'SAPIX', '数学', '算数']:
    df_school_org.loc[(df_school_org['sum'] == 0)&(df_school_org['name'].str.contains(t)), '学習塾'] = 1
df_school_org['sum'] = df_school_org[school_types].sum(axis=1)

In [19]:
df_school_org['施設分類'] = None
for t in school_types:
    df_school_org.loc[df_school_org[t] > 0, '施設分類'] = t

print(len(df_school_org[(df_school_org['施設分類'].notna())]))

7307

In [20]:
df_school_org['施設分類'].value_counts()

学習塾        2306
保育園        2093
小学校         694
幼稚園         449
音楽教室        426
中学校         319
幼児教室        286
高等学校        212
大学          177
英語教室        111
プログラミング      91
学童保育         50
専門学校         39
囲碁将棋         31
ダンス          23
Name: 施設分類, dtype: int64

In [21]:
df_school_master = df_school_org[
    df_school_org['施設分類'].notna()
][['name', 'vicinity', 'lat', 'lng', '施設分類', 'rating']].rename(columns={
    'name': '名称',
    'vicinity': '住所',
    'lat': '緯度', 
    'lng': '経度'
}).sort_values(['施設分類', '住所']).reset_index(drop=True)
print(df_school_master.shape)

(7307, 6)

In [22]:
df_school_master.to_csv(os.path.join(DIR_NAME, 'private_school_master.csv'), encoding='utf-8_sig', index=False)